/* ....SETUP..... */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* ......................... */
  /*....REUSABLE COMPONENT.... */
  /* ......................... */
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .button {
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }
  .title {
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
  }
  .title::after {
    content: " ";
    display: block;
    background: orange;
    width: 100px;
    height: 2px;
    margin: 20px auto;
  }
  i{
      color: orange;
  }
  
  /* ......................... */
  /* .......HOME MENU........ */
  /* ......................... */
  .home-menu {
    background: url("./Image//hero.jpg");
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .black-opacity {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .logo {
    width: 100px;
  }
  .home-nav-option {
    text-decoration: none;
    color: white;
    margin: 0 20px;
  }
  .menu-content {
    margin: 150px;
  }
  .menu-content p {
    color: white;
    font-size: 27px;
  }
  .menu-button-1 {
    background: orange;
    color: white;
    margin-right: 10px;
  }
  .menu-button-2 {
    background: transparent;
    border: 1px solid orange;
    color: orange;
  }
  
  /* ......................... */
  /* .......HOME CONTENT........ */
  /* ......................... */
  .home-content {
    padding: 50px 0;
  }
  .home-content-text{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 300px;
    width:630px;
  }
  .home-content-items{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding: 0 100px 0 100px;
  }
  .items{
    width:230px;
    margin: 0 10px;

  }
  .items-title{
    font-size: 20px;
    margin:10px 0 10px 0;
  }
  /* ......................... */
  /* .......HOME BANNER........ */
  /* ......................... */
  .home-banner{
    display:flex;
    flex-wrap:wrap;
    position: relative;
    z-index: 1;
  }
  .black-opacity-2{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .home-banner-content{
    width:25%;    
    position: relative;
    z-index: -1;
    top:0;
    left:0;
  }
